<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Asignación de Cursos</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="sidebar">
        <div class="logo">
            UCID
        </div>
        <div class="system-name">
            Sistema de Matriculación
        </div>
        <ul class="nav">
            <li><a href="index.html">Gestión de Cursos</a></li>
        </ul>
    </div>

    <div class="main-content">
        <h1>Gestión de Cursos: </h1>

        <div class="search-bar">
            <input type="text" placeholder="Buscar Curso" id="search-input">
            <button onclick="searchCourses()">Buscar</button>
        </div>

        <header class="header">
            <div class="search-bar">
                <button onclick="showAddCourseForm()">Agregar Curso</button>
            </div>
        </header>

        <div class="course-list-container">
            <ul class="course-list" id="course-list">
                
            </ul>
        </div>

        <div id="add-course-form" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeAddCourseForm()">&times;</span>
                <h2>Agregar Curso</h2>
                <form id="add-form">
                    <label for="course-name">Nombre:</label>
                    <input type="text" id="course-name" name="nombre" required>

                    <label for="course-description">Descripción:</label>
                    <textarea id="course-description" name="descripcion" required></textarea>

                    <label for="course-start-date">Fecha Inicio:</label>
                    <input type="date" id="course-start-date" name="fecha_inicio" required>

                    <label for="course-end-date">Fecha Fin:</label>
                    <input type="date" id="course-end-date" name="fecha_fin" required>

                    <label for="course-schedule">Horario:</label>
                    <input type="text" id="course-schedule" name="horario" required>

                    <button type="submit">Agregar Curso</button>
                    <button type="button" onclick="closeAddCourseForm()">Cancelar</button>
                </form>
            </div>
        </div>

        <div id="edit-course-form" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeEditCourseForm()">&times;</span>
                <h2>Editar Curso</h2>
                <form id="edit-form">
                    <input type="hidden" id="edit-course-id" name="id">
        
                    <label for="edit-course-name">Nombre:</label>
                    <input type="text" id="edit-course-name" name="nombre" required>
        
                    <label for="edit-course-description">Descripción:</label>
                    <textarea id="edit-course-description" name="descripcion" required></textarea>
        
                    <label for="edit-course-start-date">Fecha Inicio:</label>
                    <input type="date" id="edit-course-start-date" name="fecha_inicio" required>
        
                    <label for="edit-course-end-date">Fecha Fin:</label>
                    <input type="date" id="edit-course-end-date" name="fecha_fin" required>
        
                    <label for="edit-course-schedule">Horario:</label>
                    <input type="text" id="edit-course-schedule" name="horario" required>
        
                    <button type="submit">Guardar Cambios</button>
                    <button type="button" onclick="closeEditCourseForm()">Cancelar</button>
                </form>
            </div>
        </div>        

        <div id="assign-docente-form" class="modal">
            <div class="modal-content button_list">
                <span class="close" onclick="closeAssignDocenteForm()">&times;</span>
                <h2>Asignar Docente</h2>
                <form id="assign-form">
                    <input type="hidden" id="assign-course-id" name="course-id">

                    <label for="docente-search">Buscar Docente:</label>
                    <input type="text" id="docente-search" name="docente-search"
                        placeholder="Nombre, Apellido, ID" oninput="searchDocente()">

                    <label for="docente-list">Seleccione un Docente:</label>
                    <select id="docente-list" name="docente-list">
                        
                    </select>

                    <button type="submit" id="assign-button">Asignar</button>
                    <button type="button" onclick="closeAssignDocenteForm()">Cancelar</button>
                </form>
            </div>
        </div>

        <div id="edit-assign-docente-form" class="modal">
            <div class="modal-content button_list">
                <span class="close" onclick="closeEditAssignDocenteForm()">&times;</span>
                <h2>Editar Asignación</h2>
                <form id="edit_assign-form">
                    <input type="hidden" id="edit-assign-course-id" name="course-id">
        
                    <label for="docente-search">Buscar Docente:</label>
                    <input type="text" id="docente-search-edit" name="docente-search"
                           placeholder="Nombre, Apellido, ID" oninput="searchDocenteedit()">
        
                    <label for="docente-list-edit">Seleccione un Docente:</label>
                    <select id="docente-list-edit" name="docente-list-edit">
                        
                    </select>
                    
                    <button type="submit" id="assign-button">Guardar Cambio</button>
                    <button type="button" onclick="closeEditAssignDocenteForm()">Cancelar</button>
                </form>
            </div>
        </div>
    </div>

    <script src="js/script.js"></script>
</body>

</html>